/* CSS Document */
body{margin:0px; padding:0px; font-size:12px; font-family:'微软雅黑';}
ul,ol,li{margin:0px; padding:0px; list-style:none;}
h1,h2,h3,h4,h5,p,span{margin:0px; padding:0px;}
a{text-decoration:none;}
img{border:0px;}
/*顶部开始*/
#header{width:951px; height:90px; margin:10px auto 0 auto; border:2px solid #eaeaea; border-radius:5px; position:relative;}
#header_zuo{width:230px; height:90px; float:left;}
#logo{display:block; width:119px; height:60px; margin-top:6px; margin-left:25px;float:left;}
#header_logoz{width:122px; height:24px;font-weight:500;line-height:24px; position:absolute;left:100px;top:55px;}
.header_01{font-size:14px;float:left;font-weight:bold;}
.header_02{font-size:12px;font-weight:bold;}
#header_zhong{width:360px; height:59px; float:left;padding-top:12px; margin-left:70px;}
#header_zhong span{ color:#333333; line-height:30px; }
#header_zhong span a{ color:#303030;}
#header_zhong span.b_ig{ font-size:24px;color:#c5060d;}
#header_zhong span.sall{font-size:14px;color:#c5060d; }
#header_you{ width:257px; height:87px; float:left;}
#header_you p.fh{ padding:20px 0 0 60px;}
#header_you p.gwc span{ float:left;padding:12px}
#header_you p.gwc a{ color:red;}
#header_you p.gwc img{ float:left; padding:10px 3px 0 3px;}
/*顶部结束*/
/*导航开始*/
#dquan{width:955px;height:56px; background-image:url(images/navbg.jpg);margin:0 auto;}
#dquan #dao{width:705px;height:40px;float:left;position:relative;}
#dquan #dao li{float:left;width:117px;height:40px;text-align:center;line-height:50px;}
#dquan #dao li a{color:#FFF;display:block;width:117px;height:40px;}
#dquan #dao li a:hover{color:#FF0;}
#dquan #dao li ol{width:117px;height:0px;overflow:hidden;}
#dquan #dao #zdao li{width:117px;height:40px;line-height:40px;}
#dquan #dao #zdao li a{color:#FFF;display:block;width:117px;height:40px;background:#d61f01;}
#dquan #dao #zdao li a:hover{color:#000;background:#CFF;}
#dquan span{ display:block; float:left;line-height:56px;font-weight:bold;  color:#FFF; width:180px; padding-left:50px;}
#dquan span a{display:block;float:left; font-weight:bold; color:#FFF; padding-left:30px;}
#dquan span a:hover{color:#CCC;}
/*导航结束*/
/*搜索开始*/
#sou{ margin:0 auto; margin-bottom:10px; width:953px;height:29px;border-left:1px solid #eaeaea;border-right:1px solid #eaeaea;border-bottom:1px solid #eaeaea;}
#sou #sou1{ width:440px; height:29px; float:left; padding-left:10px; font-weight:bold;color:#595959;}
#sou #sou1 .sous{margin-top:5px;}
#sou #sou1{ width:483px; height:29px; float:left;}
#sou #sou2 p{ line-height:29px; color:#333333;}
/*搜索结束*/
/*身体*/
.by{height:1160px;width:955px;margin:0px auto;}
.by .bzuos{width:210px;height:1150px;float:left;background:#FFF;}
.by .bzuos .span1{width:185px;height:35px;background-image:url(images/t.png);display:block;font-size:16px;color:#FFF;line-height:30px;padding-left:15px;margin-bottom:2px;}
#main-left-2{ width:198px; border:1px solid #ccc; display:block; height:353px; padding-bottom:35px;}
#main-left-2 span{ display:block; width:184px; height:31px; background-image:url(images/pic_2.jpg); padding-left:14px;}
#main-left-2 span i{ display:block; width:4px; height:19px; padding-top:12px; margin-right:8px; float:left;}
#main-left-2 span p{ float:left; line-height:31px; color:#e00000; font-weight:bold;}
#main-left-2 span a{ display:block; width:33px; height:31px; float:right;}
#main-left-2 ul{ padding-top:9px; padding-bottom:11px;}
#main-left-2 ul li a{ line-height:23px; padding-left:26px; color:#000;}
.zyx{height:675px;width:198px;border:solid 1px #e6e6e6;margin-top:10px;}
.by .zyx span{width:180px;height:26px;background-image:url(images/4.gif);display:block;color:#333;line-height:24px;}
.by .zyx ul li{width:155px;height:200px;margin:0px auto;text-align:center;margin-top:10px;}
.zyx ul li p{color:#cc0001;font-size:10px;}
.zyx ul li .xx{width:74px;height:20px;background-image:url(images/3.gif);display:block;margin:10px auto;font-size:14px;padding:0px;line-height:16px;cursor:pointer;}
.zyx ul li .xx a{color:#333;}
.zyx ul li .xx a:hover{color:#63F;}
/*右上*/
.yous{width:740px;height:40px;display:block;border:#cfc6c7 1px solid;float:left;line-height:25px;}
.yous img{margin:15px 5px 0px 20px;}
.yous a{color:#333;}
.yous a:hover{color:#03F;}
.sys{width:740px;height:320px;float:left;margin-top:20px;position:relative;}
.sys #syt{float:left;width:280px;height:280px;border:solid 1px #CCC;}
.sys #syt span{display:block; width:70px; height:70px; background:#BEBEBE; opacity:0.7; position:absolute; top:3px; left:3px; cursor:move;visibility:hidden;}
.sys #syta{width:288px; height:288px; position:absolute; left:300px; overflow:hidden;display:none;}
.sys #syta img{position:absolute; width:1120px; height:1120px;}
.sys #syy{width:400px;height:280px;float:left;margin-left:40px;}
#syy h3{font-size:16px;}
#syy .syya{margin-top:30px;}
#syy .syya a{color:#333;}
#syy .syya a:hover{color:#0F0;}
#syy .syyb{color:#e10000;margin-top:10px;}
#syy .syyc{margin-top:15px;}
#syy .syyc span{color:#cc0000;font-size:16px;}
#syy .syyd{margin-top:15px;}
#syy .syyd .pen{width:20px;height:15px;}
#syy .jia{width:86px;height:34px;display:block;background-image:url(images/1.gif);color:#FFF;font-size:16px;padding:6px 0px 0px 35px;float:left;margin-top:10px;}
#syy .shou{width:115px;height:35px;display:block;background-image:url(images/2.gif);color:#FFF;font-size:16px;float:left;text-align:center;line-height:35px;margin-left:20px;margin-top:10px;}
/*身体右下*/
.youx{width:740px;height:800px;float:left;margin-top:10px;}
#bei{display:none;}
#beia{display:block;}
#youxs{width:740px;height:35px;border-bottom:3px solid #f5951a;}
#youxs #huana{width:106px;height:30px;display:block;background-image:url(images/a.jpg);float:left;margin-top:7px;text-align:center;line-height:30px;font-size:12px;color:#333;}
#youxs #huana:hover{width:106px;height:30px;display:block;background-image:url(images/a.jpg);float:left;margin-top:7px;text-align:center;line-height:30px;font-size:12px;color:#096;}
#youxs #huan{width:106px;height:30px;display:block;background-image:url(images/a01.jpg);float:left;margin-top:7px;text-align:center;line-height:30px;font-size:12px;color:#333;}
#youxs #huan:hover{width:106px;height:30px;display:block;background-image:url(images/a.jpg);float:left;margin-top:7px;text-align:center;line-height:30px;font-size:12px;color:#096;}
.youx h3{margin:10px 0px 10px 40px;}
.youx ul li{list-style:disc;margin-left:40px;height:26px;}
/*身体结束*/
/* 底部开始*/
.footer{width:943px;height:157px; background-image:url(images/pict05.png);margin:16px auto 0 auto;padding-top:16px;padding-left:17px;float:none;}
.footer .f1{width:933px;height:112px;}
.footer .f2{height:92px;float:left;}
.footer .f3{width:63px;height:36px;}
.footer .f4{width:68px;height:36px;margin-top:20px;}
.footer .f5{width:68px;height:81px;margin-left:160px;padding-top:23px;float:left;line-height:27px;}
.footer .f6{width:68px;height:81px;margin-left:133px;padding-top:23px;float:left;line-height:27px;}
.footer .f7{width:78px;height:81px;margin-left:128px;padding-top:23px;float:left;line-height:27px;}
.footer .f8{width:78px;height:81px;margin-left:112px;padding-top:23px;float:left;line-height:27px;}
.footer .f3zia{line-height:18px;font-size:14px;font-weight:bold;}
.footer .f3zib{line-height:18px;font-size:12px;}
.footer .db{width:450px;height:24px;margin:5px auto;line-height:28px;text-align:center;}
.copyright{width:946px;height:81px;margin:0 auto;line-height:27px;text-align:center;float:none;}
/* 底部结束 */
